.topnav {
  width: 600px;
  background-color: #032c6e;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #b0cbf7;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
